Package: bodhi-background-faces
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Faces
 Bodhi background taken from the old Faces theme.
 .
 Originally by Agustin J Verdegal T.
