Package: bodhi-background-mandala
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Mandala
 Red Bodhi Mandala background by Txemi Jendrix.
 .
 Bodhi linux wallpaper made with blender.
