Package: bodhi-background-elegant
Version: 0.02
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi elegant
 Bodhi background taken from the old Elagance theme.
 A dark theme with animated Bodhi logo activated by mouse over.
 .
 Originally by Agustin J Verdegal T.
