Package: bodhi-background-black
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Black
 Contains a black Bodhi branded desktop background.
 .
 Bodhi Background by Vaidotas.
