Package: bodhi-background-orange-e
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Orange-e
 Orange enlightenment background by Txemi Jendrix.
 .
 Bodhi Linux wallpaper made with gimp.
