Package: bodhi-background-green-garden
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Green Garden.
 Green garden wallpaper for Bodhi desktop.
 .
 Bodhi Background by Vaidotas.
