Package: bodhi-background-edj
Version: 0.05
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Background
 Contains Bodhi's custom desktop background.
 .
 Bodhi Background Light wave by Vaidotas.
