Package: bodhi-background-bl5
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Background
 Contains Bodhi Linux 5.x custom desktop background.
 .
 Bodhi Background Light Wave by Vaidotas.
