Package: bodhi-background-dark-metal-green
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Dark Metal
 Dark Metal with green Bodhi logo desktop background.
 .
 Bodhi Background by Christopher Michael Rogers.
