Package: bodhi-background-radiance
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi radiance Background
 Moksha Background from e17 radiance theme.
 .
 Created by Alberto "Duma" Verdoja.
