Package: bodhi-background-gold-leaf
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi gold-leaf
 Bodhi background by Txemi Jendrix.
 .
 Bodhi linux wallpaper made with blender.
