Package: bodhi-background-nitrous
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Nitrous
 Bodhi background taken from the old Bodhi-Nitrous theme.
