Package: bodhi-background-christmas
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Christmas
 Contains a christmas themed Bodhi desktop background.
 .
 Bodhi Background by Vaidotas.
