Package: bodhi-background-blue-grunge
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Blue Grunge
 Contains a bluish Bodhi branded desktop background.
 .
 Bodhi Background by Vaidotas.
