Package: bodhi-background-bodhi-tree-logo
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Tree Logo
 Bodhi Tree Night Wallpaper with Logo by missTell.
 .
 Bodhi Linux wallpaper for Moksha.
