Package: bodhi-background-melting
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Melting
 Bodhi ice melting on wood floor background by Txemi Jendrix.
 .
 Bodhi Linux wallpaper made with blender.
