Package: bodhi-background-sky
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi A-SkyV2
 Bodhi background taken from the old A-SkyV2 theme.
 .
 Originally by Agustin J Verdegal T.
