Package: bodhi-background-moon-os
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Moon-Os
 Classic e17 background taken from the old MoonOs Distro.
 .
 A colorful abstract greenish wallpaper.
