Package: bodhi-background-sunshine
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Sunshine Background
 MokshaSunshine theme splash screen as background.
 .
 Ported to a background by Robert Wiley.
