Package: bodhi-background-lynx
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Lynx-Pardinus
 Bodhi background taken from the old Lynx theme.

