Package: bodhi-background-moksha
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Moksha
 Moksha branded Bodhi light blue and alabaster background.
 .
 Bodhi Background by Vaidotas.
