Package: bodhi-background-green-sb
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi A-Green-sb
 Dark Bodhi background taken from the old A-Bodhi2 theme.
 .
 Originally by Agustin J Verdegal T.
