Package: bodhi-background-beauty
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Beauty
 Bodhi background taken from the old Beauty theme.
 .
 Originally by Agustin J Verdegal T.
