Package: bodhi-background-vice-versa
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Vice-Versa
 Bodhi background taken from the old Vice-versa theme.
 .
 Originally by Agustin J Verdegal T.
