Package: bodhi-background-a-metal
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi A-Metal
 Bodhi background taken from the old A-Metal theme.
 .
 Originally by Agustin J Verdegal T.
