Package: bodhi-background-bling-black-e
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Enlightenment A-Bling-Black
 Enlightenment background taken from the old A-Bling-Black theme.
 .
  originally by Agustin J Verdegal T.
