Package: bodhi-background-a-boox
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi A-Boox
 Black Bodhi background taken from the old A-Wood theme.
 .
 Originally by Agustin J Verdegal T.
