Package: bodhi-background-squiggle
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Squiggle
 Bodhi background taken from the old squiggle theme.
 .
 Wallpaper by LKJ.
