Package: bodhi-background-apple17
Version: 0.01
Section: x11
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Apple17
 Bodhi background taken from the old Apple17 theme.
 .
 Wallpaper by Isabelle (ZaZo0o) Stévant
