Package: bodhi-background-flames
Version: 0.02
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Flames
 Bodhi on fire desktop background for Moksha.
 .
 Bodhi Background by Vaidotas.
